#login_error{
        color: red;
    }
.error_txt{
    color: red !important;
}
.success_txt{
    color: green !important;
}

textarea{
    resize: none;
    height: auto;
}

.comment_reply{
    display: none;
    visibility: hidden;
}

.discussion_reply{
    display: none;
    visibility: hidden;
}

a.comment_reply_link{
    line-height: 0px;
}



.button:hover {
    /*background-color: #00cc66;*/
    background-color: #007095; 
    -webkit-transition: all 0.5s;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 1px solid rgba(0,0,0,1000.0);
    border-radius: 25px;    
}

button:hover, button:focus, .button:hover, .button:focus {
    background-color: #007095; 
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    border: 1px solid rgba(0,0,0,1000.0);
    border-color: #339966;
}
